@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

html, body{
    margin: 0;
    padding: 0;
}

p, ul, ol{
    font-size: 20px;
    line-height: 30px;
}

ul, ol{
    padding: 0;
    list-style-position: inside;
}

a{
    color: rgb(226, 127, 14);
}

a:hover{
    color: rgb(34, 34, 214);
}

a:active{
    color: rgb(148, 34, 214);
}

p.cap{
    font-size: 16px;
    color: gray;
    font-style: italic;
    margin-top: 0px;
}

header{
    text-align: center;
    background-color: rgb(31, 30, 29);
    padding: 20px;
}

header .pfp{

    width:220px;
    height:220px;
    border: 10px solid rgb(226, 127, 14);
    border-radius: 50%;
    background-image: url('./../img/Gibbon-Golden.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

h1{
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    margin: 10px 0 20px 0;
    color: white;
}

h2{
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    margin: 20px 0 ;
    color: rgb(0, 0, 0);     
}

@media (max-width: 600px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 40px;
    }   
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 100%;
}
/*footer*/
footer{
    background-color: rgb(31, 30, 29);
    padding: 30px;
    text-align: center;
    color: white;
    margin-top: 60px;
}
footer .content{
    max-width: 800px;
    margin: 0 auto;     
}

footer a{
    color: white;   
}

footer a:hover{
    color: rgb(226, 127, 14);   
}
@media (max-width: 600px) {
    footer p{
        font-size: 16px;
    }
}
