@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: green;
}

html, body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: rgb(138, 84, 14);
    padding: 20px;
}

header img{

    width:400px;
    height:auto;
    border: 10px, solid rgb(189, 129, 18);
    border-radius: 50%;
}

header h1{
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    margin: 10px 0 20px 0;
    color: white;
}